# 机型选择
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_PACKAGE_grub2-efi=y
CONFIG_EFI_IMAGES=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_KERNEL_PARTSIZE=32
CONFIG_TARGET_ROOTFS_PARTSIZE=2014

# CONFIG_TARGET_BOARD="x86"
# CONFIG_TARGET_SUBTARGET="64"
# CONFIG_TARGET_PROFILE="DEVICE_generic"
# CONFIG_TARGET_ARCH_PACKAGES="x86_64"
# CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe"
# CONFIG_CPU_TYPE=" "
# CONFIG_LINUX_5_4=y

# CONFIG_DOCKER_KERNEL_OPTIONS is not set
CONFIG_KERNEL_CC_STACKPROTECTOR_NONE=y
# CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR is not set
# CONFIG_KERNEL_CGROUPS is not set
# CONFIG_KERNEL_NAMESPACES is not set
# CONFIG_KERNEL_STACKPROTECTOR is not set
CONFIG_LUCI_SRCDIET=y

# DDNS
CONFIG_PACKAGE_naiveproxy=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts-cloudflare=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts-services=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts_dnspod=n
# 
CONFIG_DEFAULT_naiveproxy=n
CONFIG_DEFAULT_luci-app-ddns=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts-cloudflare=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts-services=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts_aliyun=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts_dnspod=n
# 
# Docker
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-lib-docker=y
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-i18n-diskman-zh-cn=y
# 
#ttnode
# CONFIG_PACKAGE_luci-app-ttnode=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_wget=y
# CONFIG_PACKAGE_kmod-crypto-misc=n
CONFIG_PACKAGE_kmod-kvm-intel=y
CONFIG_PACKAGE_kmod-kvm-x86=y
CONFIG_OPENSSL_ENGINE_CRYPTO=y
CONFIG_OPENSSL_ENGINE_DIGEST=y
CONFIG_OPENSSL_WITH_CAMELLIA=y
CONFIG_OPENSSL_WITH_COMPRESSION=y
CONFIG_OPENSSL_WITH_DTLS=y
CONFIG_OPENSSL_WITH_EC2M=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_GOST=y
CONFIG_OPENSSL_WITH_IDEA=y
CONFIG_OPENSSL_WITH_MDC2=y
CONFIG_OPENSSL_WITH_RFC3779=y
CONFIG_OPENSSL_WITH_SEED=y
CONFIG_OPENSSL_WITH_WHIRLPOOL=y

CONFIG_PACKAGE_luci-app-usb-printer=n
CONFIG_PACKAGE_kmod-usb-printer=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-i18n-samba-zh-cn=y
CONFIG_PACKAGE_nft-qos=y
# CONFIG_PACKAGE_luci-i18n-nft-qos-zh-cn=y
CONFIG_PACKAGE_luci-app-uugamebooster=n
# CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_luci-app-autoreboot=y
# CONFIG_PACKAGE_luci-app-syncdial=n
CONFIG_PACKAGE_luci-app-xlnetacc=n
# CONFIG_PACKAGE_luci-app-mwan3_INCLUDE_mwan3=n
CONFIG_PACKAGE_luci-app-ipsec-vpnd=n
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-kodexplorer=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
# CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-zerotier=y
# CONFIG_PACKAGE_luci-theme-argon-dark-mod=n
# CONFIG_PACKAGE_luci-theme-argon-light-mod=n

# CPU优化
# CONFIG_PACKAGE_luci-app-cpufreq=y
# CONFIG_PACKAGE_luci-i18n-cpufreq-zh-cn=y

# DNSfilter广告过滤
CONFIG_DEFAULT_dnsmasq=n
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_tftp=y
CONFIG_PACKAGE_luci-app-dnsfilter=y

CONFIG_PACKAGE_luci-app-socat=y
CONFIG_PKG_CC_STACKPROTECTOR_NONE=y
# CONFIG_PKG_FORTIFY_SOURCE_1 is not set
CONFIG_PKG_FORTIFY_SOURCE_NONE=y
# CONFIG_PKG_RELRO_FULL is not set
CONFIG_PKG_RELRO_NONE=y
# CONFIG_SIGNATURE_CHECK is not set
# CONFIG_SIGNED_PACKAGES is not set
CONFIG_UnblockNeteaseMusic_Go=n
# CONFIG_V2RAY_COMPRESS_UPX=y
# CONFIG_KERNEL_ELF_CORE is not set
# CONFIG_PKG_CHECK_FORMAT_SECURITY is not set
# 
# PassWall
# 
# CONFIG_KERNEL_SECCOMP is not set
CONFIG_PKG_ASLR_PIE_NONE=y
# CONFIG_PKG_ASLR_PIE_REGULAR is not set
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ssocks=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Socks5=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Socks5_Proxy=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Socks_Server=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks-rust=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Server=n
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan-Plus=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan-Go=y
CONFIG_PACKAGE_Trojan-Plus=n
CONFIG_PACKAGE_Trojan-Go=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_https_dns_proxy=y

# luci-app-ssr-plus
CONFIG_PACKAGE_luci-app-ssr-plus=n
CONFIG_PACKAGE_luci-i18n-ssr-plus-zh-cn=n
CONFIG_PACKAGE_shadowsocks-libev-config=n
CONFIG_PACKAGE_shadowsocks-libev-ss-local=n
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=n
CONFIG_PACKAGE_shadowsocks-libev-ss-server=n
CONFIG_PACKAGE_shadowsocksr-libev-ssr-check=n
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=n
CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir=n
CONFIG_PACKAGE_shadowsocksr-libev-ssr-server=n
# 
CONFIG_DEFAULT_luci-app-passwall=y
CONFIG_DEFAULT_luci-app-passwall_INCLUDE_Xray=y
# CONFIG_DEFAULT_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
# CONFIG_DEFAULT_luci-app-passwall_INCLUDE_ssocks=n
# CONFIG_DEFAULT_luci-app-passwall_INCLUDE_Socks5=n
# CONFIG_DEFAULT_luci-app-passwall_INCLUDE_Socks5_Proxy=n
# CONFIG_DEFAULT_luci-app-passwall_INCLUDE_Socks_Server=n
# CONFIG_DEFAULT_luci-app-passwall_INCLUDE_Shadowsocks-rust=n
CONFIG_DEFAULT_luci-app-passwall_INCLUDE_Shadowsocks=n
CONFIG_DEFAULT_luci-app-passwall_INCLUDE_Shadowsocks_Server=n
CONFIG_DEFAULT_luci-app-passwall_INCLUDE_ShadowsocksR=n
CONFIG_DEFAULT_luci-app-passwall_INCLUDE_ShadowsocksR_Server=n
# CONFIG_DEFAULT_luci-app-ssr-plus_INCLUDE_Trojan=n
# CONFIG_DEFAULT_luci-app-passwall_INCLUDE_Trojan-Plus=n
# CONFIG_DEFAULT_luci-app-passwall_INCLUDE_Trojan-Go=y
CONFIG_DEFAULT_Trojan-Plus=n
CONFIG_DEFAULT_Trojan-Go=y
# CONFIG_DEFAULT_luci-app-passwall_INCLUDE_https_dns_proxy=y
# luci-app-ssr-plus
CONFIG_DEFAULT_luci-app-ssr-plus=n
CONFIG_DEFAULT_luci-i18n-ssr-plus-zh-cn=n
CONFIG_DEFAULT_shadowsocks-libev-config=n
CONFIG_DEFAULT_shadowsocks-libev-ss-local=n
CONFIG_DEFAULT_shadowsocks-libev-ss-redir=n
CONFIG_DEFAULT_shadowsocks-libev-ss-server=n
CONFIG_DEFAULT_shadowsocksr-libev-ssr-check=n
CONFIG_DEFAULT_shadowsocksr-libev-ssr-local=n
CONFIG_DEFAULT_shadowsocksr-libev-ssr-redir=n
CONFIG_DEFAULT_shadowsocksr-libev-ssr-server=n
#
#ipv6
# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_6to4=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
#
#ssh
CONFIG_PACKAGE_openssh-sftp-server=y
#
#usb
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-dwc2=y
CONFIG_PACKAGE_kmod-usb-dwc3=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-ledtrig-usbport=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-aqc111=y
CONFIG_PACKAGE_kmod-usb-net-asix=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-cdc-eem=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-cdc-subset=y
CONFIG_PACKAGE_kmod-usb-net-dm9601-ether=y
CONFIG_PACKAGE_kmod-usb-net-hso=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-kalmia=y
CONFIG_PACKAGE_kmod-usb-net-kaweth=y
CONFIG_PACKAGE_kmod-usb-net-mcs7830=y
CONFIG_PACKAGE_kmod-usb-net-pegasus=y
CONFIG_PACKAGE_kmod-usb-net-pl=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-net-smsc95xx=y
CONFIG_PACKAGE_kmod-usb-net-sr9700=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-ohci-pci=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_kmod-usb-roles=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-serial-wwan=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb-wdm=y
CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y
#
#USB net driver
CONFIG_PACKAGE_kmod-rtlwifi=y
CONFIG_PACKAGE_kmod-rtlwifi-btcoexist=y
CONFIG_PACKAGE_kmod-rtlwifi-usb=y
CONFIG_PACKAGE_kmod-rtl8812au-ac=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_kmod-rtl8192cu=y
CONFIG_PACKAGE_kmod-rtl8821cu=y
CONFIG_PACKAGE_kmod-mt76=y
CONFIG_PACKAGE_kmod-mt76x2u=y
CONFIG_PACKAGE_kmod-usb-net-asix=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152-vendor=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-ath9k=y
CONFIG_PACKAGE_kmod-ath9k-htc=y
#
CONFIG_PACKAGE_iptables-mod-nat-extra=y
CONFIG_PACKAGE_diffutils=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_libiwinfo-data=y
CONFIG_PACKAGE_libiwinfo-lua=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luci=y
#
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-filter=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-ipt-nat-extra=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-nf-nathelper=y
#
CONFIG_PACKAGE_px5g-wolfssl=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
#
#WireGuard
#
CONFIG_PACKAGE_luci-app-wireguard=n
CONFIG_PACKAGE_kmod-wireguard=n
CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=n
CONFIG_PACKAGE_luci-proto-wireguard=n
CONFIG_PACKAGE_wireguard-tools=n
# 
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-i18n-accesscontrol-zh-cn=n
CONFIG_PACKAGE_luci-app-hd-idle=n
CONFIG_PACKAGE_hd-idle=n
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=n
# 
CONFIG_DEFAULT_luci-app-wireguard=n
CONFIG_DEFAULT_kmod-wireguard=n
CONFIG_DEFAULT_luci-i18n-wireguard-zh-cn=n
CONFIG_DEFAULT_luci-proto-wireguard=n
CONFIG_DEFAULT_wireguard-tools=n
CONFIG_DEFAULT_luci-app-accesscontrol=n
CONFIG_DEFAULT_luci-i18n-accesscontrol-zh-cn=n
CONFIG_DEFAULT_luci-app-hd-idle=n
CONFIG_DEFAULT_hd-idle=n
CONFIG_DEFAULT_luci-i18n-hd-idle-zh-cn=n
#
CONFIG_VERSIONOPT=y
CONFIG_VERSION_BUG_URL=""
CONFIG_VERSION_CODE=""
CONFIG_VERSION_DIST="OpenWrt"
CONFIG_VERSION_HOME_URL=""
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_MANUFACTURER_URL=""
CONFIG_VERSION_NUMBER=""
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_REPO=""
CONFIG_VERSION_SUPPORT_URL=""
